<% /* Copyright 2009 Google Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS-IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. */ %><% helpers.includeCss("pro/account.less") %>
<% helpers.setHtmlTitle(appjet.config.customBrandingName +": Forgot Password") %>

<% template.inherit("ui.ejs"); %>

<div class="fpcontent">
  <div class="account-container forgotpass-container" >

    <% var md = messageDiv(); %>
    <% if (md) { %>
        <%- md %>
        <br>
        <p><a href="/ep/account/sign-in">&laquo; Back to sign-in</a></p>
    <% } else { %>

      <form method="post">
        <%- helpers.xsrfTokenElement() %>
        <div class="modaldialog modal-ready bb-forgotpass" style="display: block;">
          <h1>Recover Lost Password</h1>
          <div class="modaldialog-body">

            <%- errorDiv() %>

            <div id="instructions">
              Enter your email address and we will send you a link
              to reset your password.
            </div>

            <div>
              <label for="email" id="email-label">Email</label>
              <input class="textin" type="text" name="email" id="email" value="<%= email
              %>" />
              <%- helpers.clearFloats() %>
            </div>

            <div>
              <%- template.use('button', null, { buttonType: 'submit', label: 'Send Email' }); %>
              <%- helpers.clearFloats() %>
            </div>

          </div>
          <p style="margin: 10px;"><a href="/ep/account/sign-in">&laquo; Back to sign-in</a></p>
        </div>
      </form>
    <% } %>

  </div>
</div>

