<%
  template.inherit("ui.ejs");
  helpers.includeJQuery();
  helpers.includeJs("modals.js");
  helpers.includeJs('jquery.validate.js');
  helpers.includeJs('jquery.placeholder.js');

  helpers.includeCss("base.less");
  helpers.includeCss("home.less");

  helpers.addToHead("<meta content='hackpad.com' name='title' />");
  helpers.addToHead("<meta content='Real-time collaborative wiki' name='description' />");

%>
<script type="text/javascript" nonce="<%= helpers.cspNonce() %>">
$(document).ready(function(){
  modals.showModal("#email-verification-password-dialog", 0);
  $("#modaloverlay").hide();
});
</script>

<div id="email-verification-password-dialog" class="modaldialog">
  <h1>Please enter your password:</h2>
  <div class="modaldialog-inner">
    <form method="post" action="/ep/account/validate-email">
      <%- helpers.xsrfTokenElement() %>
      <input type="hidden" name="email" value="<%=email%>"/>
      <input type="hidden" name="token" value="<%=token%>"/>
      <input type="hidden" name="cont" value="<%=cont%>"/>

      <input type="password" name="password" placeholder="Password" class="login-input" style="margin-bottom:20px"/> <br/>

      <%- template.use('button', null, { buttonType: 'submit', label: 'Verify and Login' }); %><br/>
    </form>
  </div>
</div>


