<html>
<head></head>
<body>

Hey there!<br/>
<br/>
We noticed that <%=inviteeName%> hasn't checked out <a href="<%=padUrl%>"><%=title%></a> yet.  </br></br>
We sent them a Facebook request, but it may have gotten buried among all the Farmville requests.
<br/><br/>
To make sure <%=inviteeName%> sees <a href="<%=padUrl%>"><%=padUrl%></a>, you can forward them this email.
<br/>
<br/>

--<br/>
If this message was sent in error, please mail <%= helpers.supportEmailAddress() %>.


</body>
</html>
